@import "bootstrap.min.css";

.col-print-1 {width:8%;  float:left; padding: 0 15px 0 15px;}
.col-print-2 {width:16%; float:left; padding: 0 15px 0 15px;}
.col-print-3 {width:25%; float:left; padding: 0 15px 0 15px;}
.col-print-4 {width:33%; float:left; padding: 0 15px 0 15px;}
.col-print-5 {width:42%; float:left; padding: 0 15px 0 15px;}
.col-print-6 {width:50%; float:left; padding: 0 15px 0 15px;}
.col-print-7 {width:58%; float:left; padding: 0 15px 0 15px;}
.col-print-8 {width:66%; float:left; padding: 0 15px 0 15px;}
.col-print-9 {width:75%; float:left; padding: 0 15px 0 15px;}
.col-print-10{width:83%; float:left; padding: 0 15px 0 15px;}
.col-print-11{width:92%; float:left; padding: 0 15px 0 15px;}
.col-print-12{width:100%; float:left; padding: 0 15px 0 15px;}

.bill {
    color: #6c757d !important;
    border: 1px solid;
    padding: 20px;
    max-width: 600px;
    font-size: 12px;
}

.bill .title {
    font-weight:900;
    color:#0069bd;
    margin-bottom: 20px;
    font-size: 24px;
}

.bill .red-title {
    color: red;
}

.bill .dark-title {
    color: #000;
}

.bill .brand {
    color:#3f51b5;
    padding: 0px;
    font-weight: 900;
    margin: 0px 0px 0px 0px;
}

.bill .brand .row {
    border-bottom: 0px;
}

.bill .brand .brand-title {
    margin-top: 15px;
    margin-left: -40px;
}

.bill .brand img {
    max-height: 65px;
    max-width: 65px;
    margin-left: -10px;
    margin-top: -5px;
}

.bill .row {
    border-bottom: 1px solid blue;
}

.bill .row .footer {
    padding: 10px 20px 8px 20px;
    margin-top: 15px;
    background-color:#ebf2fd !important;
    -webkit-print-color-adjust: exact; 
}

.bill .row .footer table {    
    width: 100%;
    background-color:#ebf2fd !important;
    -webkit-print-color-adjust: exact !important; 
}

.bill .row .footer-red {
    padding: 10px 20px 8px 20px;
    margin-top: 15px;
    color: black;
    background-color:#f4433624 !important;
    -webkit-print-color-adjust: exact; 
}

.bill .row .footer-nobg {
    padding: 10px 20px 8px 20px;
    margin-top: 15px;
    color: black;
}

.bill .row .footer-nobg table {    
    width: 100%;
}

.bill table th {
    width: 25%;
    padding: 12px 0 12px 0;
    color:#3f51b5;
}

.bill table td {
    color: #6c757d !important;
    padding: 0px;
}

.bill .footer  {
    padding: 20px 50px 0 50px;
}

.bill .icon {
    width: 32px;
    height: 32px;
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important; 
    }

    .bill .row .footer table {
        background-color:#ebf2fd !important;
        -webkit-print-color-adjust: exact !important; 
    }
}